.Header {
  margin: 0 0 .5rem;
  font-size: 1.25em;
  font-weight: normal;
}

.Input {
  width: 100%;
  border: 1px solid #78909c;
  line-height: 1.4;
  padding: .3em .5em;
  border-radius: .3em;
  margin-bottom: 1em;
  font-size: 1em;
}

.Highlight {
  background-color: #ffd54f;
}

.Active {
  background-color: #f48f42;
}

.Footer {
  margin-bottom: 0;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.FirstColumn,
.SecondColumn {
  flex: 1 1 auto;
}

.FirstColumn {
  margin-right: 0.5rem;
}

.SecondColumn {
  margin-left: 0.5rem;
}
